@import './colors.scss';

.present-info {
  background: $white;
  border-radius: 10px;

  width: 25%;
  height: 30%;

  padding: 48px 20px 48px 48px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
